@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9faf2;
  --foreground: #191c18;
  --primary: #154212;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}